<template>
  <v-container id="arbitrager" class="mt-0 pt-0" fluid tag="section">
    <v-row class="text-center mt-0">
      <v-col cols="12" class="pa-0">
        <v-container fluid class="pa-0">
          <v-row>
            <v-col cols="6" class="pa-0 d-flex justify-start">
              <v-btn class="font-weight-thin" tile text small>ホーム</v-btn>
              <v-btn class="font-weight-regular" tile text small
                >Arbitrager</v-btn
              >
              <v-btn class="font-weight-regular" tile text small>Trader</v-btn>
              <v-btn class="font-weight-thin" tile text small>取引所</v-btn>
              <v-btn
                class="font-weight-thin"
                tile
                text
                small
                @click.stop="showSettingDialog()"
                >設定</v-btn
              >
              <arbitrager-exchange-setting></arbitrager-exchange-setting>
            </v-col>
            <v-col cols="6" class="pa-0"
              ><span class="caption">arbitrager tool - TRADEWOLF</span>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" class="pr-1 pl-1 pb-0 pt-0">
        <v-card width="100vw" height="fit-content" class="mt-1 mb-1">
          <arbitrager-log-board :logs="logs"></arbitrager-log-board>
        </v-card>
      </v-col>
      <v-col cols="12" class="pr-1 pl-1 pb-0 pt-0">
        <v-card width="100vw" height="fit-content" class="mt-1 mb-1">
          <arbitrager-pair-info></arbitrager-pair-info>
        </v-card>
      </v-col>
      <v-col cols="auto" md="3" sm="5" class="pl-1 pr-0 pt-1">
        <v-card
          width="100%"
          height="fit-content"
          color="transparent"
          class="mt-0 pt-0"
        >
          <arbitrager-pairs
            :netArbitragesByArbitragePair="netArbitragesByArbitragePair"
          ></arbitrager-pairs>
        </v-card>
      </v-col>
      <v-col cols="auto" md="6" sm="8" class="pr-1 pl-1 pt-1">
        <v-row no-gutters>
          <v-col cols="6">
            <v-card
              width="100%"
              height="fit-content"
              class="ma-0 pr-1 pt-1"
              color="transparent"
            >
              <div>
                <arbitrager-board-bars
                  :boardType="'asks'"
                  :boardBars="exchangeABoardAsks"
                  :priceDigit="pricePrecisionA"
                  :amountDigit="amountPrecisionA"
                ></arbitrager-board-bars>
              </div>
              <arbitrager-currency-info
                :selectedArbitragePairArbitrage="
                  arbitragePairArbitrage.selectedArbitragePairArbitrage
                "
                :side="'A'"
              ></arbitrager-currency-info>
              <div>
                <arbitrager-board-bars
                  :boardType="'bids'"
                  :boardBars="exchangeABoardBids"
                  :priceDigit="pricePrecisionA"
                  :amountDigit="amountPrecisionA"
                  :height="202"
                ></arbitrager-board-bars>
              </div>
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card
              width="100%"
              height="fit-content"
              class="ma-0 pr-1 pt-1"
              color="transparent"
            >
              <div>
                <arbitrager-board-bars
                  :boardType="'asks'"
                  :boardBars="exchangeBBoardAsks"
                  :priceDigit="pricePrecisionB"
                  :amountDigit="amountPrecisionB"
                ></arbitrager-board-bars>
              </div>
              <arbitrager-currency-info :side="'B'"></arbitrager-currency-info>
              <div>
                <arbitrager-board-bars
                  :boardType="'bids'"
                  :boardBars="exchangeBBoardBids"
                  :priceDigit="pricePrecisionB"
                  :amountDigit="amountPrecisionB"
                  :height="202"
                ></arbitrager-board-bars>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="auto" md="3" sm="4" class="pt-1 pr-1 pl-0 pb-1">
        <setting-section></setting-section>
        <arbitrager-list></arbitrager-list>
      </v-col>
      <v-col cols="12" class="pr-1 pl-1 pb-0 pt-0">
        <v-card width="100vw" height="fit-content" class="ma-0">
          <arbitrager-orders></arbitrager-orders>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import {
  ArbitragePair,
  ArbitragePairArbitrage,
  Board,
  BoardBar,
  ArbitragerLog,
  Timestamp,
  LogType,
  OrderBookTick
} from '@/models/domain_pb'
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { ExchangeRepository } from '@/repositories/exchange'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ExchangeModule } from '@/stores/exchange'
import SettingSection from '@/views/arbitrager/SettingSection.vue'
import { mapState } from 'vuex'
import Wails from '@wailsapp/runtime'

import * as timestamp_pb from 'google-protobuf/google/protobuf/timestamp_pb'

@Component({
  components: { SettingSection },
  computed: mapState('ArbitragerPageModule', [
    'selectedArbitragerID',
    'selectedArbitragePair',
    'exchangeSettingDialog',
    'exchangeABoardAsks',
    'exchangeABoardBids',
    'exchangeBBoardAsks',
    'exchangeBBoardBids',
    'arbitragePairArbitrage',
    'netArbitragesByArbitragePair'
  ])
})
export default class ArbitragerIndex extends Vue {
  public arbitragePair!: ArbitragePair
  askBoardBarsA: BoardBar[] = []
  bidBoardBarsA: BoardBar[] = []
  pricePrecisionA: number = 0
  amountPrecisionA: number = 0
  askBoardBarsB: BoardBar[] = []
  bidBoardBarsB: BoardBar[] = []
  pricePrecisionB: number = 0
  amountPrecisionB: number = 0
  logs: Array<ArbitragerLog> = new Array<ArbitragerLog>()
  pollingId = 0
  arbitragePairPollingId = 0
  orderPollingId = 0
  balancePollingId = 0
  showSettingDialog() {
    ArbitragerPageModule.setExchangeSettingDialog(
      !ArbitragerPageModule.getExchangeSettingDialog
    )
  }
  async mounted() {
    await ArbitragerPageModule.setTransferFeeMap()
    await ArbitragerPageModule.setBalancesMap()
    clearInterval(this.balancePollingId)
    this.balancePollingId = window.setInterval(async function() {
      ArbitragerPageModule.setBalancesMap()
    }, 10000)
    clearInterval(this.arbitragePairPollingId)
    this.arbitragePairPollingId = 0
    ArbitragerPageModule.setNetArbitragesByArbitragePair()
    this.arbitragePairPollingId = window.setInterval(async function(
      this: ArbitragerIndex
    ) {
      ArbitragerPageModule.setNetArbitragesByArbitragePair()
    },
    3000)
    const _this = this
    Wails.Events.On('Arbitrager', function(...messages: string[]): void {
      const arbitragerId = messages[0]
      const logType = messages[1]
      const message = messages[2]
      if (
        ArbitragerPageModule.getSelectedArbitragerID == Number(arbitragerId)
      ) {
        const timeMS = Date.now()
        const timestamp = new timestamp_pb.Timestamp()
        const arbitragerLogTimestamp = new Timestamp()
        timestamp.setSeconds(timeMS / 1000)
        timestamp.setNanos((timeMS % 1000) * 1e6)
        arbitragerLogTimestamp.setTimestamp(timestamp)
        const log = new ArbitragerLog()
        log.setArbitragerId(Number(arbitragerId))
        log.setCreatedTime(arbitragerLogTimestamp)
        let logTypeUnion: 0 | 1 | 2
        if (logType === '0') {
          logTypeUnion = 0
        } else if (logType === '1') {
          logTypeUnion = 1
        } else {
          logTypeUnion = 2
        }
        log.setLogType(logTypeUnion)
        log.setMessage(message)
        _this.logs.push(log)
      }
    })
  }
  @Watch('selectedArbitragerID')
  async setOrdersOnArbitragerIdSelected(selectedArbitragerId: number) {
    clearInterval(this.orderPollingId)
    this.orderPollingId = 0
    ArbitragerPageModule.setArbitrageOrders(
      ArbitragerPageModule.getSelectedArbitragerID
    )
    this.orderPollingId = window.setInterval(async function() {
      ArbitragerPageModule.setArbitrageOrders(
        ArbitragerPageModule.getSelectedArbitragerID
      )
    }, 5000)
  }
  @Watch('selectedArbitragerID')
  async setLogsOnArbitragerIdSelected(selectedArbitragerId: number) {
    await ArbitragerPageModule.setArbitragerLogs(selectedArbitragerId)
    this.logs = ArbitragerPageModule.getArbitragerLogs
  }
  @Watch('selectedArbitragePair')
  onSelected(selectedArbitragePair: ArbitragePair) {
    clearInterval(this.pollingId)
    ArbitragerPageModule.setExchangeABoardAsks(selectedArbitragePair)
    ArbitragerPageModule.setExchangeABoardBids(selectedArbitragePair)
    ArbitragerPageModule.setExchangeBBoardAsks(selectedArbitragePair)
    ArbitragerPageModule.setExchangeBBoardBids(selectedArbitragePair)
    ExchangeRepository.GetPrecision(
      selectedArbitragePair.getExchangeA(),
      selectedArbitragePair.getCurrencyPair()!
    ).then(result => {
      this.pricePrecisionA = result.PricePrecision
      this.amountPrecisionA = result.AmountPrecision
    })
    ExchangeRepository.GetPrecision(
      selectedArbitragePair.getExchangeB(),
      selectedArbitragePair.getCurrencyPair()!
    ).then(result => {
      this.pricePrecisionB = result.PricePrecision
      this.amountPrecisionB = result.AmountPrecision
    })
    this.pollingId = window.setInterval(async function(this: ArbitragerIndex) {
      ArbitragerPageModule.setExchangeABoardAsks(selectedArbitragePair)
      ArbitragerPageModule.setExchangeABoardBids(selectedArbitragePair)
      ArbitragerPageModule.setExchangeBBoardAsks(selectedArbitragePair)
      ArbitragerPageModule.setExchangeBBoardBids(selectedArbitragePair)
    }, 3000)
  }
  destroyed() {
    clearInterval(this.pollingId)
    clearInterval(this.arbitragePairPollingId)
    clearInterval(this.orderPollingId)
    clearInterval(this.balancePollingId)
  }
}
</script>
