<template>
  <v-app style="background: #21252b">
    <dashboard-core-view />
  </v-app>
</template>

<script>
export default {
  name: 'DashboardIndex',

  components: {
    DashboardCoreView: () => import('./components/core/View')
  },

  data: () => ({
    expandOnHover: false
  })
}
</script>
<style>
.theme--dark.v-application {
  background: #21252b;
  color: #b5b7ba !important;
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.theme--dark.v-data-table {
  background-color: #282c34;
  color: #fff !important;
}
.theme--dark.v-data-table.v-data-table--fixed-header thead th {
  background-color: #21252b;
  color: #b5b7ba !important;
}
</style>
