<template>
  <div>
    <v-tabs fixed-tabs centered v-model="selectedTab">
      <v-tab :key="0">Create</v-tab>
      <v-tab :key="1">Action</v-tab>
      <v-tab-item>
        <arbitrager-setting></arbitrager-setting>
      </v-tab-item>
      <v-tab-item>
        <arbitrager-action></arbitrager-action>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script lang="ts">
import { Log, ArbitragePair } from '@/models/domain_pb'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mapGetters } from 'vuex'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'

@Component({
  computed: mapGetters('arbitragerPageModule', ['getSelectedArbitragePair'])
})
export default class SettingSection extends Vue {
  get selectedTab() {
    return ArbitragerPageModule.getSelectedSettingSectionTab
  }
  set selectedTab(tab: number) {
    ArbitragerPageModule.setSelectedSettingSectionTab(tab)
  }
  mounted() {}
}
</script>
