<template>
  <div>
    <template v-if="selectedArbitragerSetting != undefined">
      <v-btn
        class="ma-2 elevation-3"
        dark
        small
        color="indigo"
        :loading="processing"
        :disabled="isStartable || processing"
        @click.prevent="startArbitrager(selectedArbitragerID)"
      >
        <v-icon>mdi-play</v-icon>
        Start
      </v-btn>
      <v-btn
        class="ma-2 elevation-3"
        small
        color="red"
        :disabled="isStoppable"
        @click="stopArbitrager(selectedArbitragerID)"
      >
        <v-icon>mdi-pause</v-icon>
        Stop
      </v-btn>
      <v-btn
        class="ma-2 elevation-3"
        small
        :disabled="isDeletable"
        @click="deleteArbitrager(selectedArbitragerID)"
      >
        <v-icon>mdi-minus</v-icon>
        Delete
      </v-btn>
      <v-list two-line subheader class="text-left">
        <v-subheader inset>Setting</v-subheader>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>ID</v-list-item-title>
            <v-list-item-subtitle>{{
              selectedArbitragerID
            }}</v-list-item-subtitle>
            <v-list-item-title>Exchanges</v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedArbitragerSetting | exchangePair }}
            </v-list-item-subtitle>
            <v-list-item-title>CurrencyPairs</v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedArbitragerSetting | currencyPair }}
            </v-list-item-subtitle>
            <v-list-item-title>Status</v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedArbitragerSetting | arbitragerState }}
            </v-list-item-subtitle>
            <v-list-item-title>Mode</v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedArbitragerSetting | arbitragerMode }}
            </v-list-item-subtitle>
            <v-list-item-title>OperationType</v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedArbitragerSetting | arbitragerOperation }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
  </div>
</template>
<script lang="ts">
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { mapState, mapActions } from 'vuex'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragerModule } from '@/stores/arbitrager'
import { Log, ArbitragePair } from '@/models/domain_pb'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mapGetters } from 'vuex'

import {
  arbitragerMode,
  arbitragerState,
  currencyPair,
  exchangePair,
  arbitragerOperation,
  arbitragerStateIcon
} from '@/utils/filter'

@Component({
  filters: {
    arbitragerMode,
    arbitragerState,
    exchangePair,
    currencyPair,
    arbitragerOperation,
    arbitragerStateIcon
  },
  computed: {}
})
export default class Action extends Vue {
  processing = false
  get selectedArbitragerID() {
    return ArbitragerPageModule.getSelectedArbitragerID
  }
  get selectedArbitragerSetting() {
    return ArbitragerModule.getArbitragerSettings[
      ArbitragerPageModule.getSelectedArbitragerID
    ]
  }
  get isDeletable() {
    if (this.selectedArbitragerSetting.getArbitragerState() == 2) {
      return true
    }
    return false
  }
  get isStoppable() {
    if (this.selectedArbitragerSetting.getArbitragerState() == 1) {
      return true
    }
    return false
  }
  get isStartable() {
    if (this.selectedArbitragerSetting.getArbitragerState() == 2) {
      this.processing = false
      return true
    }
    return false
  }
  startArbitrager(id: number) {
    this.processing = true
    ArbitragerRepository.StartArbitrager(id)
  }
  stopArbitrager(id: number) {
    ArbitragerRepository.StopArbitrager(id)
  }
  deleteArbitrager(id: number) {
    ArbitragerRepository.DeleteArbitrager(id)
  }
  beforeDestroy() {}
}
</script>

<style scoped></style>
