<template>
  <div
    style="overflow-y: auto;
    height: fit-content;width:100%"
    id="boardBarsContainer"
  >
    <v-data-table
      :disable-pagination="true"
      :hide-default-footer="true"
      :hide-default-header="isHideHeader"
      :headers="headers"
      :items="boardBarsData"
      :sort-by="'price'"
      :sort-desc="isDesc"
      fixed-header
      :height="height"
      class="boardBars elevation-1"
      :class="boardType === 'bids' ? 'bids' : 'asks'"
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr
            v-for="(item, index) in items"
            :key="index"
            class="boardBar"
            :style="[
              boardType == 'asks'
                ? {
                    background:
                      'linear-gradient(to right, rgba(0, 0, 0, 0) ' +
                      Number(1 - item.volume / maxBoardVolume) * 100 +
                      '%, rgba(1, 170, 120, 1) 0% )'
                  }
                : {
                    background:
                      'linear-gradient(to right, rgba(0, 0, 0, 0) ' +
                      Number(1 - item.volume / maxBoardVolume) * 100 +
                      '%, rgba(198, 60, 77, 1) 0% )'
                  }
            ]"
          >
            <td class="text-xs-right">
              {{ item.volume }}
            </td>
            <td class="text-xs-right">
              {{ item.amount }}
            </td>
            <td class="text-xs-right">
              {{ item.price }}
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import Vue, { PropType } from 'vue'
import { Board } from '@/models/domain_pb'

export default {
  name: 'BoardBars',
  data() {
    return {
      id: null,
      isMounted: false,
      headers: [
        {
          text: 'VOLUME',
          align: 'center',
          sortable: false,
          value: 'volume'
        },
        //{ text: 'ORDER', align: 'center', value: 'order' },
        { text: 'AMOUNT', align: 'center', value: 'amount' },
        { text: 'PRICE', align: 'center', value: 'price' }
      ]
    }
  },
  props: {
    height: {
      type: Number,
      default: 250
    },
    boardBars: {
      type: Array,
      default: () => ({
        return: []
      })
    },
    boardType: {
      type: String,
      default: 'asks'
    },
    amountDigit: {
      type: Number,
      default: 8
    },
    priceDigit: {
      type: Number,
      default: 8
    }
  },
  computed: {
    isHideHeader() {
      if (this.boardType == 'asks') {
        return false
      }
      return true
    },
    isDesc() {
      return true
    },
    boardBarsData: function() {
      let boardBarsData = []
      let volume = 0
      let counter = 0
      for (const boardBar of this.boardBars) {
        volume += boardBar.getAmount()
        boardBarsData.push({
          amount: Number.parseFloat(boardBar.getAmount()).toFixed(
            this.amountDigit
          ),
          price: Number.parseFloat(boardBar.getPrice()).toFixed(
            this.priceDigit
          ),
          order: 0,
          volume: Number.parseFloat(volume).toFixed(this.amountDigit)
        })
        if (counter > 30) {
          break
        }
        counter = (counter + 1) | 0
      }
      return boardBarsData
    },
    maxBoardVolume: function() {
      return this.boardBarsData.slice(-1)[0].volume
    }
  },
  mounted: function() {
    this.isMounted = true
    this.scrollToEnd()
  },
  watch: {
    boardBarsData: function(val) {
      this.scrollToEnd()
    }
  },
  methods: {
    scrollToEnd: function() {
      if (this.boardType == 'asks') {
        this.$el.querySelector(
          '#boardBarsContainer div > div'
        ).scrollTop = this.$el.querySelector(
          '#boardBarsContainer div > div'
        ).scrollHeight
      }
    }
  }
}
</script>

<style scoped>
#boardBarsContainer {
  height: 250px;
}
.boardBars >>> td {
  height: 0.9rem;
  font-size: 0.8rem;
  padding: 1px 1px;
  line-height: 0;
  font-weight: 300 !important;
}
.boardBars >>> thead th {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0333333333em;
  line-height: 1.25rem;
}
</style>
<style>
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-shadow: none;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
</style>
