<template>
  <div style="height:fit-content;width:100%">
    <v-layout row wrap class="align-center caption">
      <template v-if="this.isActive">
        <template v-if="this.side == 'A'">
          <v-flex>
            <div>
              {{ getSelectedArbitragePair.getExchangeA() }}
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}/{{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}
            </div>
            <!--
            <div>
              Balance:
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}:{{
                getBalancesMap[getSelectedArbitragePair.getExchangeA()][
                  getSelectedArbitragePair.getCurrencyPair().getTrading()
                ]
              }}
              {{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}:{{
                getBalancesMap[getSelectedArbitragePair.getExchangeA()][
                  getSelectedArbitragePair.getCurrencyPair().getSettlement()
                ]
              }}
            </div>-->
            <div>
              TransferFee:
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}:{{
                getTransferFeeMap[getSelectedArbitragePair.getExchangeA()][
                  getSelectedArbitragePair.getCurrencyPair().getTrading()
                ]
              }}
              {{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}:{{
                getTransferFeeMap[getSelectedArbitragePair.getExchangeA()][
                  getSelectedArbitragePair.getCurrencyPair().getSettlement()
                ]
              }}
            </div>
          </v-flex>
        </template>
        <template v-else>
          <v-flex>
            <div>
              {{ getSelectedArbitragePair.getExchangeB() }}
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}/{{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}
            </div>
            <!--
            <div>
              Balance:
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}:{{
                getBalancesMap[getSelectedArbitragePair.getExchangeB()][
                  getSelectedArbitragePair.getCurrencyPair().getTrading()
                ]
              }}
              {{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}:{{
                getBalancesMap[getSelectedArbitragePair.getExchangeB()][
                  getSelectedArbitragePair.getCurrencyPair().getSettlement()
                ]
              }}
            </div>
            -->
            <div>
              TransferFee:
              {{ getSelectedArbitragePair.getCurrencyPair().getTrading() }}:{{
                getTransferFeeMap[getSelectedArbitragePair.getExchangeB()][
                  getSelectedArbitragePair.getCurrencyPair().getTrading()
                ]
              }}
              {{
                getSelectedArbitragePair.getCurrencyPair().getSettlement()
              }}:{{
                getTransferFeeMap[getSelectedArbitragePair.getExchangeB()][
                  getSelectedArbitragePair.getCurrencyPair().getSettlement()
                ]
              }}
            </div>
          </v-flex>
        </template>
      </template>
    </v-layout>
  </div>
</template>
<script lang="ts">
import { Log, ArbitragePair, CurrencyPair, BoardBar } from '@/models/domain_pb'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mapGetters } from 'vuex'
import { ArbitragePairArbitrage } from '../../models/domain_pb'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragerModule } from '../../stores/arbitrager'

@Component({
  computed: mapGetters('ArbitragerPageModule', [
    'getBalancesMap',
    'getSelectedArbitragePair',
    'getTransferFeeMap'
  ])
})
export default class CurrencyInfo extends Vue {
  @Prop({ default: '' })
  side!: string
  get isActive(): boolean {
    if (
      ArbitragerPageModule.getExchangeABoardAsks.length === 0 ||
      ArbitragerPageModule.getExchangeBBoardBids.length === 0 ||
      ArbitragerPageModule.getExchangeBBoardAsks.length === 0 ||
      ArbitragerPageModule.getExchangeABoardBids.length === 0
    ) {
      return false
    }
    return true
  }
  get isBuySide(): boolean {
    if (this.side == 'A') {
      const b_rate =
        ArbitragerPageModule.getExchangeABoardAsks.slice(-1)[0].getPrice() /
        ArbitragerPageModule.getExchangeBBoardBids[0].getPrice()
      const a_rate =
        ArbitragerPageModule.getExchangeBBoardAsks.slice(-1)[0].getPrice() /
        ArbitragerPageModule.getExchangeABoardBids[0].getPrice()
      if (a_rate > b_rate) {
        return true
      }
      return false
    } else {
      const a_rate =
        ArbitragerPageModule.getExchangeBBoardBids[0].getPrice() /
        ArbitragerPageModule.getExchangeABoardAsks.slice(-1)[0].getPrice()
      const b_rate =
        ArbitragerPageModule.getExchangeABoardBids[0].getPrice() /
        ArbitragerPageModule.getExchangeBBoardAsks.slice(-1)[0].getPrice()
      if (a_rate > b_rate) {
        return true
      }
      return false
    }
  }

  mounted() {}
}
</script>

<style scoped></style>
