<template>
  <v-dialog v-model="exchangeSettingDialogStatus" max-width="600">
    <v-card tile>
      <v-toolbar flat dark color="primary">
        <v-btn icon dark @click="toggleSettingDialog()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Settings</v-toolbar-title>
        <!--<v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark text>
            Save
          </v-btn>
        </v-toolbar-items>
        <v-menu bottom right offset-y>
          <template v-slot:activator="{ on }">
            <v-btn dark icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
        </v-menu>-->
      </v-toolbar>
      <v-card-text>
        <v-list three-line subheader>
          <v-subheader>Key Settings</v-subheader>
          <template v-for="(exchange, i) of exchanges">
            <v-list-item v-bind:key="i">
              <v-list-item-content class="pb-0">
                <v-list-item-title>{{ exchange }}</v-list-item-title>
                <template v-if="existExchangeSettingKey(exchange)">
                  <v-list-item-subtitle>
                    {{ exchangeSettingKeys[exchange].getApiKey() }} /
                    ***********************************
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    <v-btn
                      small
                      color="primary"
                      @click="removeKeySetting(exchange)"
                      >削除</v-btn
                    >
                  </v-list-item-subtitle>
                </template>
                <template v-else>
                  <form :id="exchange">
                    <v-row>
                      <v-col cols="6" class="pt-1 pb-0">
                        <v-text-field
                          label="API Key"
                          placeholder="APIキー"
                          outlined
                          dense
                          v-model="items[exchange].api_key"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="6" class="pt-1 pb-0">
                        <v-text-field
                          label="Sec Key"
                          placeholder="Secretキー"
                          :append-icon="
                            showSec ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
                          "
                          :type="showSec ? 'text' : 'password'"
                          outlined
                          dense
                          @click:append="showSec = !showSec"
                          v-model="items[exchange].sec_key"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" class="pt-0 pb-0">
                        <div class="my-2">
                          <v-btn
                            small
                            color="primary"
                            @click="setKeySetting(exchange)"
                            >設定</v-btn
                          >
                        </div>
                      </v-col>
                    </v-row>
                  </form>
                </template>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-card-text>
      <div style="flex: 1 1 auto;"></div>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { ExchangeRepository } from '@/repositories/exchange'
import { mapState, mapActions } from 'vuex'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragerModule } from '@/stores/arbitrager'
import { Log, ArbitragePair } from '@/models/domain_pb'
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { mapGetters } from 'vuex'

import {
  arbitragerMode,
  arbitragerState,
  currencyPair,
  exchangePair,
  arbitragerOperation,
  arbitragerStateIcon
} from '@/utils/filter'
import { ExchangeModule } from '@/stores/exchange'
import { exchangeModule } from '../../stores/exchange'

@Component({
  filters: {
    arbitragerMode,
    arbitragerState,
    exchangePair,
    currencyPair,
    arbitragerOperation,
    arbitragerStateIcon
  },
  computed: mapGetters('ArbitragerPageModule', ['getExchangeSettingDialog'])
})
export default class ExchangeSetting extends Vue {
  processing = false
  notifications = false
  sound = true
  items: { [key: string]: { api_key: string; sec_key: string } } = {}
  widgets = false
  showSec = false

  async removeKeySetting(exchange: string) {
    await ExchangeRepository.DeleteKey(exchange)
    await ExchangeModule.setExchangeSettingKeys(ExchangeModule.getExchanges)
  }

  async setKeySetting(exchange: string) {
    await ExchangeRepository.SetKeySetting(
      exchange,
      this.items[exchange].api_key,
      this.items[exchange].sec_key
    )
    await ExchangeModule.setExchangeSettingKeys(ExchangeModule.getExchanges)
  }

  existExchangeSettingKey(exchange: string): boolean {
    if (this.exchangeSettingKeys[exchange]) {
      return true
    }
    return false
  }
  get exchanges() {
    this.items = {}
    for (let ex of ExchangeModule.getExchanges) {
      this.items[ex] = { api_key: '', sec_key: '' }
    }
    return ExchangeModule.getExchanges
  }
  get exchangeSettingKeys() {
    return ExchangeModule.getKeySettings
  }
  get exchangeSettingDialogStatus() {
    return ArbitragerPageModule.getExchangeSettingDialog
  }
  set exchangeSettingDialogStatus(val: boolean) {
    ArbitragerPageModule.setExchangeSettingDialog(val)
  }
  toggleSettingDialog() {
    ArbitragerPageModule.setExchangeSettingDialog(
      !this.exchangeSettingDialogStatus
    )
  }
  async mounted() {
    //console.log(await ArbitragerRepository.GetOrdersByArbitragerID(1))
    //await ExchangeRepository.SetKeySetting('binance', 'api', 'sec')
    //const key = await ExchangeRepository.GetKey('binance')
    await ExchangeModule.setExchanges()
    await ExchangeModule.setExchangeSettingKeys(ExchangeModule.getExchanges)
  }
  exchangeSetting(exchange: string) {}
  beforeDestroy() {}
}
</script>

<style scoped></style>
