<template>
  <v-card class="mt-2 mb-0">
    <div style="height:100%;width:100%">
      <v-list class="text-left" dense>
        <v-subheader>Arbitragers</v-subheader>
        <v-list-item-group color="primary" mandatory>
          <v-list-item
            v-for="(item, i) in getArbitragerSettings"
            :key="i"
            selectable
            @click="setSelectedArbitragerID(i, item)"
          >
            <v-list-item-icon class="mt-5 mr-2 align-center">
              <v-icon small>{{ item | arbitragerStateIcon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="i"></v-list-item-title>
              <v-list-item-subtitle
                >{{ item | exchangePair }}
                {{ item | currencyPair }}</v-list-item-subtitle
              >
              <v-list-item-subtitle
                >{{ item | arbitragerMode }}/{{ item | arbitragerOperation }}/{{
                  item | arbitragerState
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </div>
  </v-card>
</template>
<script lang="ts">
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { mapState, mapActions } from 'vuex'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragerModule } from '@/stores/arbitrager'
import { Log, ArbitragePair } from '@/models/domain_pb'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mapGetters } from 'vuex'
import {
  arbitragerMode,
  arbitragerState,
  currencyPair,
  exchangePair,
  arbitragerOperation,
  arbitragerStateIcon
} from '@/utils/filter'
import { ArbitragerSetting } from '../../models/domain_pb'

@Component({
  computed: {
    ...mapGetters('ArbitragerModule', ['getArbitragerSettings'])
  },
  filters: {
    arbitragerMode,
    arbitragerState,
    exchangePair,
    currencyPair,
    arbitragerOperation,
    arbitragerStateIcon
  }
})
export default class List extends Vue {
  updateArbitragerPollingId = 0

  setSelectedArbitragerID(id: number, as: ArbitragerSetting) {
    ArbitragerPageModule.setSelectedSettingSectionTab(1)
    ArbitragerPageModule.setSelectedArbitragerID(id)
    const ap = as.getArbitragePair()
    ArbitragerPageModule.setSelectedArbitragePair({
      currencyPair: ap!.getCurrencyPair()!,
      exchangeA: ap!.getExchangeA()!,
      exchangeB: ap!.getExchangeB()!
    })
  }
  mounted() {
    this.updateArbitragerPollingId = setInterval(function() {
      ArbitragerModule.updateArbitragers()
    }, 1000)
  }
  beforeDestroy() {
    clearInterval(this.updateArbitragerPollingId)
  }
}
</script>

<style scoped>
.pairs >>> th {
  padding: 0 8px;
}
.pairs >>> td {
  height: 2em;
  font-size: 0.8em;
  font-weight: 100;
}
.pairs >>> .profitArbitrage {
  color: #01aa78;
}
.pairs >>> .lossArbitrage {
  color: #c63c4d;
}
.pairs >>> thead th {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.0333333333em;
  line-height: 1.25rem;
}
</style>
