<template>
  <div
    style="overflow-y:auto;max-height:100px;width:100%"
    id="logBoardContainer"
  >
    <v-list dense>
      <v-list-item-group color="primary">
        <v-list-item v-for="(item, i) in logsData" :key="i" dense>
          <v-list-item-icon align-center>
            <template v-if="item.log_type == 0">
              <v-chip color="blue-grey" label x-small>
                <v-icon left x-small>mdi-information-outline</v-icon>
                Info
              </v-chip>
            </template>
            <template v-else-if="item.log_type == 1">
              <v-chip color="primary" label x-small>
                <v-icon left x-small>mdi-alert-outline</v-icon>
                Error
              </v-chip>
            </template>
            <template v-else>
              <v-chip color="deep-orange" label x-small>
                <v-icon left x-small>mdi-alert</v-icon>
                Warn
              </v-chip>
            </template>
          </v-list-item-icon>
          <v-list-item-content class="caption font-weight-light text-left">
            <v-list-item-subtitle>{{ item.message }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragerLog, Timestamp } from '../../models/domain_pb'
import Wails from '@wailsapp/runtime'

let listItemHeight = 17
@Component
export default class LogBoard extends Vue {
  $el!: HTMLElement | SVGElement

  @Prop({ default: [] })
  logs!: ArbitragerLog[]
  scrollIntervalId = 0
  scroll = 0
  displayRowNum = 3
  displayLogsData = []

  get scrollMax() {
    return this.displayLogsData.length - this.displayRowNum
  }
  get displayLogs() {
    let startIndex = Math.ceil(this.scroll / listItemHeight)
    return this.logsData.slice(startIndex, startIndex + this.displayRowNum)
  }
  get logsData() {
    let logsData = []
    let counter = 0
    for (const log of this.logs) {
      logsData.push({
        arbitrager_id: log.getArbitragerId(),
        created_time: log.getCreatedTime(),
        log_type: log.getLogType(),
        message: log.getMessage()
      })
    }
    return logsData
  }
  @Watch('logsData')
  scrollToEnd() {
    this.$el.querySelector(
      '#logBoardContainer > div > div'
    )!.scrollTop = this.$el.querySelector(
      '#logBoardContainer > div > div'
    )!.scrollHeight
  }
  mounted() {
    this.scrollToEnd()
    this.scrollIntervalId = setInterval(() => {
      this.scrollToEnd()
    }, 3000)
  }
  beforeDestroy() {
    clearInterval(this.scrollIntervalId)
  }
}
</script>

<style scoped>
#logBoardContainer >>> .v-item-group {
  overflow-y: scroll;
  height: 75px;
}
#logBoardContainer >>> .v-list-item {
  height: 2.1em;
  min-height: 2.1em;
  font-size: 0.6em;
}
#logBoardContainer >>> .v-list-item__icon {
  margin: 0;
  padding-top: 0.2em;
  width: 78px;
}
</style>
