<template>
  <div
    style="overflow-y: auto;max-height:150px;width:100%"
    id="ordersContainer"
  >
    <v-data-table
      :disable-pagination="true"
      :hide-default-footer="true"
      :headers="headers"
      :items="ordersData"
      fixed-header
      :height="height"
      class="orders elevation-1"
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, index) in items" :key="index" class="order">
            <td class="font-weight-regular text-xs">
              {{ item.arbitrager_id }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.created_time | unixtimeToDateString }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.exchange }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.currency_pair }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.order_id }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.order_type }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.price }}
            </td>
            <td class="font-weight-regular text-xs">
              {{ item.amount }}
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </div>
</template>
<script lang="ts">
import { Log } from '@/models/domain_pb'
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ArbitrageOrder } from '../../models/domain_pb'
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { unixtimeToDateString } from '@/utils/filter'

@Component({
  filters: {
    unixtimeToDateString
  }
})
export default class Orders extends Vue {
  items: ArbitrageOrder[] = Array<ArbitrageOrder>()
  height = '150px'
  headers: { text: string; value: string; align: string }[] = [
    { text: 'ARBITRAGER ID', value: 'arbitragerId', align: 'center' },
    { text: 'CREATED_TIME', value: 'created_time', align: 'center' },
    { text: 'EXCHANGE', value: 'exchange', align: 'center' },
    { text: 'CURRENCY PAIR', value: 'currencyPair', align: 'center' },
    { text: 'ORDER ID', value: 'orderId', align: 'center' },
    { text: 'ORDER TYPE', value: 'orderType', align: 'center' },
    { text: 'PRICE', value: 'price', align: 'center' },
    { text: 'AMOUNT', value: 'amount', align: 'center' }
  ]
  scrollIntervalId = 0
  get ordersData() {
    let ordersData = []
    const orders = ArbitragerPageModule.getArbitrageOrders
    for (const order of orders) {
      ordersData.push({
        arbitrager_id: order.getArbitragerId(),
        created_time: order.getCreatedTime(),
        exchange: order.getExchange(),
        currency_pair: order.getTrading() + '/' + order.getSettlement(),
        order_id: order.getOrderId(),
        order_type: order.getOrderType(),
        price: order.getPrice(),
        amount: order.getAmount()
      })
    }
    return ordersData
  }
  scrollToEnd() {
    this.$el.querySelector(
      '#ordersContainer div > div'
    )!.scrollTop = this.$el.querySelector(
      '#ordersContainer div > div'
    )!.scrollHeight
  }
  mounted() {
    this.scrollToEnd()
    this.scrollIntervalId = setInterval(() => {
      this.scrollToEnd()
    }, 300)
  }
  beforeDestroy() {
    clearInterval(this.scrollIntervalId)
  }
}
</script>

<style scoped>
#ordersContainerontainer >>> .v-list-item {
  height: 2.1em;
  min-height: 2.1em;
  font-size: 0.6em;
}
.orders >>> td {
  height: 1.7rem;
  font-size: 0.7rem;
  padding: 2px 2px;
}
.orders >>> thead th {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0333333333em;
  line-height: 1.25rem;
}
</style>
