<template>
  <div style="height:fit-content;width:100%">
    <v-layout row wrap class="align-center caption">
      <template v-if="getSelectedArbitragePair.getExchangeA() !== ''">
        <v-flex>
          <div>netArbitrageProfitRate:{{ netArbitrageProfitRate }}</div>
        </v-flex>
      </template>
    </v-layout>
  </div>
</template>
<script lang="ts">
import { Log, ArbitragePair, CurrencyPair, BoardBar } from '@/models/domain_pb'
import { Component, Vue, Prop } from 'vue-property-decorator'
import { mapGetters } from 'vuex'
import { ArbitragePairArbitrage } from '@/models/domain_pb'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'

@Component({
  computed: mapGetters('ArbitragerPageModule', [
    'getSelectedArbitragePair',
    'getBalancesMap',
    'getTransferFeeMap',
    'getSelectedArbitragePairArbitrage'
  ])
})
export default class PairInfo extends Vue {
  get netArbitrageProfitRate(): number {
    if (this.buySide == 'A') {
      const a_ask = ArbitragerPageModule.getExchangeABoardAsks[0]
      const a_net_value = a_ask.getPrice() * a_ask.getAmount()
      const b_bid = ArbitragerPageModule.getExchangeBBoardBids[0]
      const a_transfer_fee =
        ArbitragerPageModule.getTransferFeeMap[
          ArbitragerPageModule.getSelectedArbitragePair.getExchangeA()
        ][
          ArbitragerPageModule!
            .getSelectedArbitragePair!.getCurrencyPair()!
            .getTrading()
        ]
      const b_net_value =
        b_bid.getPrice() * (a_ask.getAmount() - a_transfer_fee)

      return b_net_value / a_net_value
    }
    const b_ask = ArbitragerPageModule.getExchangeBBoardAsks[0]
    const b_net_value = b_ask.getPrice() * b_ask.getAmount()
    const a_bid = ArbitragerPageModule.getExchangeABoardBids[0]
    const b_transfer_fee =
      ArbitragerPageModule.getTransferFeeMap[
        ArbitragerPageModule.getSelectedArbitragePair.getExchangeB()
      ][
        ArbitragerPageModule!
          .getSelectedArbitragePair!.getCurrencyPair()!
          .getTrading()
      ]
    const a_net_value = a_bid.getPrice() * (b_ask.getAmount() - b_transfer_fee)
    return a_net_value / b_net_value
  }
  get buySide(): string {
    const order_book_tick_a = ArbitragerPageModule.getSelectedArbitragePairArbitrage.getOrderBookTickA()
    const order_book_tick_b = ArbitragerPageModule.getSelectedArbitragePairArbitrage.getOrderBookTickB()
    const a_rate =
      order_book_tick_b!.getBestBidPrice() /
      order_book_tick_a!.getBestAskPrice()
    const b_rate =
      order_book_tick_a!.getBestBidPrice() /
      order_book_tick_b!.getBestAskPrice()
    if (a_rate > b_rate) {
      return 'A'
    }
    return 'B'
  }
  get sellSide(): string {
    const order_book_tick_a = ArbitragerPageModule.getSelectedArbitragePairArbitrage.getOrderBookTickA()
    const order_book_tick_b = ArbitragerPageModule.getSelectedArbitragePairArbitrage.getOrderBookTickB()
    const a_rate =
      order_book_tick_b!.getBestBidPrice() /
      order_book_tick_a!.getBestAskPrice()
    const b_rate =
      order_book_tick_a!.getBestBidPrice() /
      order_book_tick_b!.getBestAskPrice()
    if (a_rate > b_rate) {
      return 'B'
    }
    return 'A'
  }

  mounted() {}
}
</script>

<style scoped></style>
