<template>
  <div style="height:100%;width:100%">
    <v-card-title class="pl-2 pt-0 pb-0 pr-2">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Filter"
        single-line
      ></v-text-field>
    </v-card-title>
    <div style="overflow: auto;height:100%;width:100%">
      <v-data-table
        :disable-pagination="true"
        :hide-default-footer="true"
        :headers="headers"
        :items="pairs"
        :search="search"
        :custom-filter="customFilter"
        :loading="isLoading"
        :sort-by="'NetArbitrage'"
        :sort-desc="true"
        :height="height"
        fixed-header
        class="pairs"
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="item in items"
              :key="item.price"
              class="pair"
              @click="
                setSelectedArbitragePair({
                  currencyPair: item.CurrencyPair,
                  exchangeA: item.ExchangeA,
                  exchangeB: item.ExchangeB
                })
                setSelectedArbitragerID(0)
              "
            >
              <td class="font-weight-regular">
                {{ item.Trading }}/{{ item.Settlement }}
              </td>
              <td class="font-weight-regular">
                {{ item.ExchangeA }}-{{ item.ExchangeB }}
              </td>
              <td class="font-weight-regular">
                <template v-if="item.OrderBookInverse >= 0">
                  <span class="profitArbitrage"
                    >+{{ item.OrderBookInverse | cutdownDigit }}%</span
                  >
                </template>
                <template v-else>
                  <span class="lossArbitrage"
                    >-{{ item.OrderBookInverse | cutdownDigit }}%</span
                  >
                </template>
              </td>
              <td class="font-weight-regular">
                <template v-if="item.NetArbitrage >= 0">
                  <span class="profitArbitrage"
                    >+{{ item.NetArbitrage | cutdownDigit }}%</span
                  >
                </template>
                <template v-else>
                  <span class="lossArbitrage"
                    >-{{ item.NetArbitrage | cutdownDigit }}%</span
                  >
                </template>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </div>
  </div>
</template>
<script>
import Vue, { PropType } from 'vue'
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { mapState, mapActions } from 'vuex'
import { ArbitragerPageModule } from '@/stores/arbitragerPage'
import { ArbitragePairArbitrage } from '../../models/domain_pb'

export default {
  name: 'Pairs',
  data() {
    return {
      height: '300px',
      headers: [
        {
          text: 'CURRENCY PAIR',
          value: 'CurrencyPair',
          align: 'center',
          width: '30'
        },
        {
          text: 'EXCHANGE',
          value: 'Exchanges',
          align: 'center',
          width: '40'
        },
        {
          text: 'ORDER BOOK INVERSION',
          value: 'ArbitrageOrderBookInverse',
          filterable: false,
          align: 'center',
          width: '30'
        },
        {
          text: 'NET ARBITRAGE',
          value: 'NetArbitrage',
          filterable: false,
          align: 'center',
          width: '30'
        }
      ],
      search: '',
      pollingId: 0
    }
  },
  filters: {
    cutdownDigit: function(value) {
      return Math.round(value * 10000) / 100
    }
  },
  props: {
    netArbitragesByArbitragePair: {
      type: Array,
      default: () => ({
        return: []
      })
    }
  },
  computed: {
    isLoading() {
      return true
    },
    pairs() {
      let pairs = []
      this.netArbitragesByArbitragePair.forEach(na => {
        pairs.push({
          ExchangeA: na.getExchangeA(),
          ExchangeB: na.getExchangeB(),
          CurrencyPair: na.getCurrencyPair(),
          Trading: na.getCurrencyPair().getTrading(),
          Settlement: na.getCurrencyPair().getSettlement(),
          OrderBookInverse: na.getOrderBookInverse(),
          NetArbitrage: na.getNetArbitrage()
        })
      })
      return pairs
    }
  },
  methods: {
    ...mapActions('ArbitragerPageModule', [
      'setSelectedArbitragePair',
      'setSelectedArbitragePairArbitrage',
      'setSelectedArbitragerID'
    ]),
    customFilter(items, search, filter) {
      if (!search) {
        return true
      }
      function new_filter(val, search) {
        return (
          val !== null &&
          ['undefined', 'boolean'].indexOf(typeof val) === -1 &&
          val
            .toString()
            .toLowerCase()
            .replace(/[^0-9a-zA-Z]+/g, '')
            .indexOf(search) !== -1
        )
      }
      let needleAry = search
        .toString()
        .toLowerCase()
        .split(' ')
        .filter(x => x)
      return needleAry.every(needle =>
        new_filter(
          filter.CurrencyPair + filter.ExchangeA + filter.ExchangeB,
          needle
        )
      )
    }
  }
}
</script>

<style scoped>
.pairs >>> th {
  padding: 0 8px;
  font-weight: 400;
}
.pairs >>> td {
  height: 0.75rem;
  font-size: 0.8rem;
  font-weight: 100;
}
.pairs >>> .profitArbitrage {
  color: #01aa78;
}
.pairs >>> .lossArbitrage {
  color: #c63c4d;
}
.pairs >>> thead th {
  font-size: 0.75rem;
  letter-spacing: 0.0333333333em;
  line-height: 1.25rem;
}
.pairs.v-data-table table tr {
  cursor: pointer;
}
</style>
