<template>
  <arbitrager-material-wizard
    v-model="tab"
    :available-steps="availableSteps"
    :items="tabs"
    class="mt-0 pt-0"
    @click:next="next"
    @click:prev="tab--"
  >
    <v-tab-item class="pb-0">
      <form action data-vv-scope="setting"></form>
    </v-tab-item>
    <v-tab-item class="pr-4 pl-4">
      <form action data-vv-scope="action">
        <v-row class="pt-0" justify="space-around" style="max-width: 500px;">
          <v-col cols="12" class="pb-0">
            <v-select
              v-model="selectedArbitragerMode"
              :hint="`${selectedArbitragerMode.text}`"
              :items="arbitragerModes"
              item-text="mode"
              item-value="value"
              label="Arbitrage Mode"
              persistent-hint
              return-object
              single-line
              dense
            />
          </v-col>
          <v-col cols="12" class="pb-10">
            <v-select
              v-model="selectedArbitragerOperation"
              :hint="`${selectedArbitragerOperation.text}`"
              :items="arbitragerOperations"
              item-text="operation"
              item-value="value"
              label="Arbitrage Operation"
              persistent-hint
              return-object
              single-line
              dense
            />
          </v-col>
          <v-col cols="12">
            <v-slider
              v-model="expectedProfitRate"
              class="align-center"
              :max="10"
              :min="0.01"
              :step="0.01"
              label="期待利益率"
              color="primary"
              thumb-label="always"
              hide-details
              dense
            >
              <template v-slot:append>
                <v-text-field
                  v-model="expectedProfitRate"
                  class="mt-0 pt-0"
                  single-line
                  type="number"
                  style="width: 60px"
                  dense
                  suffix="%"
                />
              </template>
            </v-slider>
          </v-col>
          <v-col cols="12">
            <v-slider
              v-model="lossCutRate"
              class="align-center"
              :max="10"
              :min="0.01"
              :step="0.01"
              color="blue"
              label="損切率"
              thumb-label="always"
              hide-details
              dense
              suffix="%"
              style="margin-left:28px;"
            >
              <template v-slot:append>
                <v-text-field
                  v-model="lossCutRate"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 60px"
                  color="blue"
                  dense
                  suffix="%"
                />
              </template>
            </v-slider>
          </v-col>
          <v-col cols="12">
            <v-slider
              v-model="assetUseRate"
              class="align-center"
              :max="100"
              :min="1"
              :step="1"
              color="indigo"
              label="通貨投入率"
              thumb-label="always"
              hide-details
              dense
            >
              <template v-slot:append>
                <v-text-field
                  v-model="assetUseRate"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  color="indigo"
                  style="width: 60px"
                  dense
                  disabled
                  suffix="%"
                />
              </template>
            </v-slider>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="arbitrageWaitLimit"
              label="裁定取引猶予時間"
              outlined
              type="number"
              step="10"
              dense
              suffix="秒"
            />
          </v-col>
        </v-row>
      </form>
    </v-tab-item>
  </arbitrager-material-wizard>
</template>

<script>
import {
  ArbitragePair,
  CurrencyPair,
  ArbitragerSetting,
  ArbitragerState,
  ArbitragerMode,
  ArbitragerOperation
} from '@/models/domain_pb'
import { mapGetters, mapActions } from 'vuex'
import { ArbitragerRepository } from '@/repositories/arbitrager'
import { ArbitragerModule } from '@/stores/arbitrager'
import { ArbitragerPageModule } from '../../stores/arbitragerPage'

export default {
  name: 'Setting',
  components: {},
  data: () => ({
    tab: 0,
    search: '',
    tabs: ['Setting', 'Action'],
    selectedArbitragerMode: {
      value: ArbitragerMode.TEST,
      mode: 'テストモード',
      text: '実際の取引は行わないテストモードで動きます。'
    },
    selectedArbitragerOperation: {
      value: ArbitragerOperation.LONG_SIDE,
      operation: 'Long Position',
      text: '買建て可能な取引所のみで裁定取引を行います。'
    },
    expectedProfitRate: 0.5,
    lossCutRate: 0.5,
    assetUseRate: 100,
    arbitrageWaitLimit: 600,
    arbitragerModes: [
      {
        value: ArbitragerMode.TEST,
        mode: 'テストモード',
        text: '実際の取引は行わないテストモードで動きます。'
      },
      {
        value: ArbitragerMode.REAL,
        mode: '本番モード',
        text: '実際の取引を行う本番モードです。'
      }
    ],
    arbitragerOperations: [
      {
        value: ArbitragerOperation.LONG_SIDE,
        operation: 'Long Position',
        text: '買建ての裁定取引のみを行います。'
      },
      {
        value: ArbitragerOperation.SHORT_SIDE,
        operation: 'Short Position',
        text: '売建ての裁定取引を行います。'
      },
      {
        value: ArbitragerOperation.BOTH_SIDE,
        operation: 'Long/Short Position',
        text: '買建て・売建て両方の裁定取引を行います。'
      }
    ]
  }),
  computed: {
    ...mapGetters('ArbitragerPageModule', ['getSelectedArbitragePair']),
    arbitragerSetting() {
      const arbitragerSetting = new ArbitragerSetting()
      arbitragerSetting.setArbitragePair(this.getSelectedArbitragePair)
      arbitragerSetting.setArbitragerMode(this.selectedArbitragerMode.value)
      arbitragerSetting.setArbitragerOperation(
        this.selectedArbitragerOperation.value
      )
      arbitragerSetting.setArbitragerState(ArbitragerState.CREATING)
      arbitragerSetting.setExpectedProfitRate(this.expectedProfitRate / 100)
      arbitragerSetting.setLossCutRate(this.lossCutRate)
      arbitragerSetting.setAssetUseRate(this.assetUseRate)
      arbitragerSetting.setArbitrageWaitLimit(this.arbitrageWaitLimit)
      return arbitragerSetting
    },
    scope() {
      if (this.tab === 0) return 'setting'
      return 'action'
    },
    availableSteps() {
      const steps = [0]
      if (this.getSelectedArbitragePair.getExchangeA() != '') steps.push(1)
      if (
        this.selectedArbitragerMode &&
        this.selectedArbitragerOperation &&
        this.expectedProfitRate &&
        this.assetUseRate &&
        this.arbitrageWaitLimit &&
        steps.includes(1)
      )
        steps.push(2)
      return steps
    }
  },
  methods: {
    ...mapActions('ArbitragerModule', ['createArbitrager']),
    next() {
      this.validateForm(this.scope).then(item => {
        if (!item) return
        if (this.tab === this.tabs.length - 1) {
          this.createArbitrager(this.arbitragerSetting)
        } else {
          this.tab++
        }
      })
    },
    validateForm(scope) {
      return this.$validator.validateAll(scope)
    },
    remove(item) {
      // needed mapSetter
      this.arbitragePair = {}
    }
  }
}
</script>
